{% extends "layout.html" %}
{% block title %}Componentes{% endblock %}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/op.css')}}">
{%endblock%}


{% block content %}
<div class="container ">
    <div class="placas-container">
        <h1 id="info" class="shadow-lg p-3 mb-5 rounded">Componentes</h1>
    
        <a type="button" href="{{ url_for('add_componente')}}" class="btn btn-primary">Adicionar Componente</a>
    
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
    
    </div>
    <table id="dt_op" class="table table-striped table-responsive-sm table-bordered table-hover">
        <thead>
            <tr>
                <th class="th-sm" scope="col">Item</th>
                <th scope="col">Codigo</th>
                <th scope="col">Tipo</th>
                <th scope="col">Nome</th>
                <th class="fit">Referencia</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for componente in componentes.items %}
            <tr>
                <th scope="row">{{componente.id}}</th>
                <td>{{componente.codigo}}</td>
                <td>{{componente.tipo}}</td>
                <td>{{componente.nome}}</td>
                <td>{{componente.referencia}}</td>
                <td>
                    <a class="" href="{{ url_for('edit_componente', componente=componente.id)}}"><img width="27px"
                            src="{{ url_for('static', filename='images/edit_icon.png')}}"></a>

                    <a href="{{ url_for('delete_componente', componente=componente.id)}}"><img width="27px"
                            src="{{ url_for('static', filename='images/delete_icon.png')}}"></a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul class="pagination">

          
        {% for page in componentes.iter_pages(left_edge=3, right_edge=3) %}
        {% if page %}
         <li class="page-item">
             <a class="page-link" href="{{ url_for('componente', page_num=page) }}">{{ page }}</a>
        </li>

        {% else %}
         <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li> 
        {% endif %}
        {% endfor %}

</div>

{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="{{ url_for('static', filename='js/componente.js')}}"></script>

{% endblock %}

{% endblock %}