<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  {% block head %}
  {% endblock %}

  <title>{% block title %}{% endblock %} - SIMPLAC</title>

</head>

<body>
  {%if user%}
  <nav class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDiv" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="container">
        <a class="navbar-brand" href="/"><img src="../static/images/brand.png" width="30px" height="30px" class=""
            alt="Simplac-Brand">GESOFT</a>
        <div class="collapse navbar-collapse" id="navbarDiv">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/op">OPs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/placa">Placas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cliente">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/componente">Componentes</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
  {%endif%}

  {% block content %}
  {% endblock %}


  <script defer src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js')}}"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script defer src="{{ url_for('static', filename='js/main.js')}}"></script>
  {% block scripts %}{% endblock %}
</body>

</html>