{% extends "layout.html" %}

{% block title %}Placas{% endblock %}

{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/placa.css')}}">
{% endblock %}


{% block content %}
<div class="placas-container">
    <h1 id="info" class="shadow-lg p-3 mb-5 rounded">Placas</h1>
    <div class="form-group">
        <label for="filtros">Selecione um filtro: </label>
        <select name="filtros" id="filtros">
            <option value="ID">ID</option>
            <option value="Código">Código</option>
            <option value="Modelo">Modelo</option>
            <option value="Cliente">Cliente</option>
        </select>
    </div>
</div>

<div class="container d-flex justify-content-end">
    <a href="/placa/add">Adicionar placa</a>
</div>

<div class="table-responsive-sm">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Modelo</th>
                <th scope="col">Cliente</th>
                <th class="fit" scope="col"><abbr title="Quantidade de Componentes">Qtd</abbr></th>
            </tr>
        </thead>
        <tbody>
            {% for placa in placas %}
            <tr>
                <th scope="row">{{placa.codigo}}</th>
                <td>{{placa.modelo}}</td>
                <td>{{placa.id_cliente}}</td>
                <td>{{placa.qtd_componentes}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>
<script src="{{ url_for('static', filename='js/placa.js')}}"></script>
{% endblock %}
{% endblock %}